html {
  min-height: 100%;
}
body {

	font-family: "Raleway", Helvetica, Arial, sans-serif;
    margin-top: 50px; 
	margin-bottom: 25px;
	background: #ede4d5;
}

.nav-bg-trans {
	background:rgba(0,0,0,0.75); 
}

#about p{
	font-size: 1em;
}

/*---------------------------------------
 **   TYPOGRAPHY                     -----
-----------------------------------------*/

h1, h2 {
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
}

h3,h4,h5,h6 {
	font-family: "Ubuntu Condensed", Helvetica, Arial, sans-serif;
    margin: auto;
	padding: 0;
	border: 0;
    vertical-align: baseline;
}

/*---------------------------------------
 **   SECTION:  Price Packages
-----------------------------------------*/

.packages {
	padding-top:10px;
	padding-bottom: 20px;
	background: #eee;
	width: 100%;
}
.package {
	border-radius: 5px;
	background: #FFFFFF;
	//margin-top: 25px;
	margin-bottom: 10px;
	//padding-bottom: 15px;
}
.package-header {
	height: 57px;
	color: #FFF;
	line-height: 57px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.package-header h3{
	vertical-align: middle;
	line-height: 57px;
}
.price {
	line-height: 120px;
	height: 100px;
	color: #FFF;
	font-weight: 400;
}
.price h4 {
	display: inline;
	font-size: 40px;
	line-height: normal;
	margin-bottom: 0;
}
.price h4 .dollar-sign {
	font-size: 17px;
	vertical-align: super;
}
.price .price-meta {
	line-height: normal;
	text-transform: uppercase;
	color: #9f9f9f;
}
.package ul li {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 80%;
	margin: auto;
	border-bottom: 1px dotted #dadada;
}
.package ul li:last-child {
	border-bottom: 0;
}

.package ul li i {
	font-size: 13px;
	margin-right: 5px;
}

/*---------------------------------------
 **   FOOTER
-----------------------------------------*/

 //   footer CONTACT

.contact {
	border-top-style:solid;
	border-top-width:10px;
	border-top-color:#B9121B;
	border-bottom-style:solid;
	border-bottom-color:#B9121B;
	padding-top:20px;
	padding-bottom: 30px;
	margin-bottom:30px;
	color: white;
	width: 100%;
	background: #374140;
}
.contact ul
{
// removes bullets from list
    list-style-type: none;
    padding:0;
    margin:0;
}
.contact a{
	color: #FFFFFF;
}

.contact span{
	margin-right: 5px;
}
.contact a:hover span{
// makes glyphicons red on hover
	color: #e96656;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: @gray-lighter; //#eee
}



/*---------------------------------------
 **   COLORS                         -----
-----------------------------------------*/

/** BACKGROUNDS **/
.ubuntu-bg{
	background: #dd4814;
}
.red-bg {
	background: #e96656;
}
.green-bg {
	background: #34d293;
}
.blue-bg {
	background: #3ab0e2;
}
.yellow-bg {
	background: #E7AC44;
}
.dark-bg {
	background: #404040;
}
.white-bg {
	background:  #FFFFFF;
}

/** FOR TEXTS AND ICON FONTS **/
.red-text {
	color: #e96656;
}
.green-text {
	color: #34d293;
}
.blue-text {
	color: #3ab0e2;
}
.yellow-text {
	color: #f7d861;
}
.dark-text {
	color: #404040;
}
.white-text {
	color: #FFFFFF;
}

/*---------------------------------------
 **   BUTTONS
-----------------------------------------*/

.buttons {
	text-align: center;
	margin-bottom: 100px;
	margin-top: 45px;
}
.button {
	display: inline-block !important;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 35px 10px 35px;
	border-radius: 4px;
	margin: 10px;
}
.custom-button {
	display: inline-block !important;
	text-align: center;
	text-transform: uppercase;
	padding: 13px 35px 13px 35px;
	border-radius: 4px;
	margin: 10px;
	border: none;
}

.ubuntu-btn {
  background: #dd4814;
}
.red-btn {
	background: #e96656;
}
.green-btn {
	background: #20AA73;
}
.blue-btn {
	background: #3ab0e2;
}
.yellow-btn {
	background: #E7AC44;
}
.ubuntu-btn,.red-btn,.green-btn,.blue-btn,.yellow-btn {
	color: #FFF;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.blue-btn:hover {
	color: #FFF;
	background: #1288b9;
}
.red-btn:hover {
	color: #FFF;
	background: #cb4332;
}
.green-btn:hover {
	color: #FFF;
	background: #069059;
}
.yellow-btn:hover {
	color: #FFF;
	background: #d8951e;
}
.ubuntu-btn:hover {
  background: #ae3910;
}


//jumbotron
.jumbotron {
    border-bottom-style:solid;
    border-bottom-color:#B9121B;
    border-bottom-width:10px;
    background:#D9CB9E;
}