<form action="new_contact.php" method="post">
 <p>LastName: <input type="text" name="LastName" /></p>
 <p>FirstName: <input type="text" name="FirstName" /></p>
<p>Notes: <input type="text" name="Notes" /></p>
 <p>Address: <input type="text" name="Address" /></p>
 <p>City: <input type="text" name="City" /></p>
<p>E-Mail: <input type="text" name="Email" /></p>
<p>Phone: <input type="text" name="Phone" /></p>
 <p><input type="submit" /></p>
</form>