<form action="new_trouble_ticket.php" method="post">
 <p>LastName: <input type="text" name="LastName" /></p>
 <p>FirstName: <input type="text" name="FirstName" /></p>
<p>Trouble: <input type="text" name="Trouble" /></p>
 <p>Urgency: <input type="text" name="Urgency" /></p>
 <p>Importance: <input type="text" name="Importance" /></p>
 <p>Assigned to:: <input type="text" name="assigned_to" /></p>
 <p>Status: <input type="text" name="status" /></p>
 <p><input type="submit" /></p>
</form>
<p> <a href="index.php">Back to the index</a> </p>

